body {
    background-color: rgba(136, 136, 206, 0.7);
    font-family: Poppins;
    color: #FFF
}

h2 {
    margin-left: 35px;
    font-size: 19px;
    text-shadow: black 0 -1px;
}

.centrar {
    text-align: center;
}

.centrar-cuadro {
    position: relative;
    margin: auto;
    display: block;
    width: 575px
}

#title {
    padding-top: 15px;
}

#description {
    padding-bottom: 15px;
}

#survey-form {
    background: rgba(27, 27, 50, 0.8);
    border-width: 1px;
    border-style: solid;
    border-color: violet;
    border-radius: 2%;
    width: 600px;
    padding-bottom: 15px;
}

.alinear-texto-cuadro {
    display: inline-block;
    width: 525px;
    text-align: left;
    padding-top: 20px;
}

input {
    width: 500px;
    height: 1rem;
    padding: 0.200rem 0.75rem;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-family: poppins;

}

.botones {
    width: 80px;
    margin-left: 10px;
}

select {
    width: 520px;
    height: 2rem;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-family: poppins;
    margin-left: 6px;
    margin-right: 6px;
}

textarea {
    margin-left: 40px;
    width: 494px;
    padding: 0.200rem 0.75rem;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-family: poppins;
    height: 70px;
}

button {
    display: block;
    background: #37af65;
    font-family: poppins;
    color: #FFF;
    margin-left: 38px;
    border-radius: 5px;
    width: 525px;
    height: 2.5rem;
}